<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zgdj.project">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DescriptionActivity" />
        <activity android:name=".ui.work.sbwz.DeviceInfoListActivity" />
        <activity android:name=".ui.work.sbwz.DeviceInfoEditActivity" />
        <activity android:name=".ui.work.sbwz.StockManagerListActivity" />
        <activity android:name=".ui.work.sbwz.StockManagerInfoActivity" />
        <activity android:name=".ui.work.sbwz.StockManagerInfoEditActivity" />
        <activity android:name=".ui.work.sbwz.StockOutOrInActivity" />
        <activity android:name=".ui.work.ywjx.InspectionListActivity" />
        <activity android:name=".ui.work.ywjx.InspectionEditActivity" />
        <activity android:name=".ui.work.ywjx.InspectionQRCodeActivity" />
        <activity android:name=".ui.work.ywjx.WorkTicketListActivity" />
        <activity android:name=".ui.work.ywjx.WorkTicketEditActivity" />
        <activity android:name=".ui.work.ywjx.OperateTicketListActivity" />
        <activity android:name=".ui.work.ywjx.OperateTicketEditActivity" />
        <activity android:name=".ui.work.jkjc.DataDetectActivity" />
        <activity android:name=".ui.work.jkjc.VideoMonitorListActivity" />
        <activity android:name=".ui.work.jkjc.VideoMonitorActivity" />
        <activity android:name=".ui.work.yjgl.FaultWarningListActivity" />
        <activity android:name=".ui.work.yjgl.InventoryWarningListActivity" />
        <activity android:name=".ui.work.other.KnowledgeBaseListActivity" />
        <activity android:name=".ui.work.other.KnowledgeBaseInfoActivity" />
        <activity android:name=".ui.work.other.LocalFileDisplayActivity" />
        <activity android:name=".ui.work.other.SchedulingDecisionActivity" />
        <activity android:name=".ui.QRCodeActivity" />
    </application>

</manifest>